<div class="ui-breadcrumb">
    <ul class="global-breadcrumb" >
        <li *ngFor="let category of categories; let i = index;let last = last;">
            <a href="/items?category={{category['id']}}">{{category['name']}}</a> <span *ngIf="!last"> > </span>
        </li>
    </ul>
</div>
<div class="search-result">  
    <ul class="list-item">
        <li *ngFor="let item of items; index as i; first as isFirst">
            <div class="card-item">
                <div class="image-item">
                    <a [routerLink]="['/items/', item['id']]"><img [src]="item['picture']" alt="{{item['title']}}" /></a> 
                </div>
                <div class="content-wrapper">
                    <p class="price">{{item['price']['amount']}}</p>
                    <a [routerLink]="['/items/', item['id']]"><h2>{{item['title']}}</h2></a> 
                </div> 
            </div>
        </li>
    </ul> 
</div>