<header>
    <nav>
        <div class="nav-menu">
            <a href="/" class="nav-logo"></a>
            <form class="form-search" action="items?" method="get">
                <input type="text" formControlName=search name="search" placeholder="Nunca dejes de buscar"> 
                <button type="submit" class="nav-search-btn" tabindex="4"><div role="img" aria-label="Buscar" class="nav-icon-search"></div></button>
            </form>
        </div> 
    </nav>
</header>
<div class="contain">
    <router-outlet></router-outlet>
</div>