<div class="ui-breadcrumb">
    <ul class="global-breadcrumb" >
        <li *ngFor="let category of categories; let i = index;let last = last;">
            <a href="/items?category={{category['id']}}">{{category['name']}}</a> <span *ngIf="!last"> > </span>
        </li>
    </ul>
</div>
<div class="detail-item">
    <div class="col container-text"> 
        <div class="contain-img">
            <img src="{{item.picture}}" alt="{{item.title}}"> 
        </div>
        <div class="wrapper-text">
            <h2>Descripción del producto</h2>
            <p>{{item.description}}</p>
        </div>
    </div>
    <div class="col container-price">
        <div class="wrapper-text text-align-left">
            <p>{{item.condition}} - {{item.sold_quantity}} Vendidos</p>
            <h2>{{item.title}}</h2>    
            <p class="price">{{item.amount}}</p>
            <div class="action_container">
                <a href="" class="add-to-cart"> Comprar</a>
            </div>
        </div>
    </div>
</div>